/* https://material.io/design/color/text-legibility.html#text-types */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.primary-color.in-dark {
  color: rgba(255, 255, 255, .87);
}

.secondary-color.in-dark {
  color: rgba(255, 255, 255, .60);
}

.third-color.in-dark {
  color: rgba(255, 255, 255, .38);
}

.primary-color.in-white {
  color: rgba(0, 0, 0, .87);
}

.secondary-color.in-white {
  color: rgba(0, 0, 0, .60);
}

.third-color.in-white {
  color: rgba(0, 0, 0, .38);
}

.section-margin-bottom {
  margin-bottom: 16px;
}